doctype html
html
  head
    title= title
    link(rel='stylesheet', href=`${basePath}/stylesheets/style.css`)
  body
    div.header
      h1 Velogistics
      if user
        nav.main-nav
          ul
            li 
              a(href=`${basePath}/admin/project`) Projects
      div.login
        if user
          a(href=`${basePath}/user`) Profile
          a(href=`${basePath}/logout`) Log Out
        else
          a(href=`${basePath}/login`) Log In
    block content