extends layout

block content
    h2 Project: #{project.name}
    dl
        dt id
        dd=project._id
        dt originalId
        dd=project.originalId
        dt url
        dd=project.url
        dt description
        dd=project.description
        dt data source
        dd=project.source