extends layout

block content
    h2 Registered Projects
    p Check the sites you want to block.
    form(action=`${basePath}/admin/project`, method='POST')
        table
            tr
                th ID
                th Name
                th URL
                th Block Site
            each project in projects
                tr
                    td=project._id
                    td
                        a(href=`${basePath}/admin/project/${project.id}`)=project.name
                    td=project.site_url
                    td
                        input(type='checkbox' id=`is_blocked-${project._id}` name=`is_blocked-${project._id}` checked=project.is_blocked)
        input(type='submit', value='Update Blacklist')
